$primary: #0d6efd;
$success: rgb(19, 163, 26);
$default: rgb(61, 61, 61);

* {
   box-sizing: border-box;
}

body {
   font-family: 'Iransans' !important;
   direction: rtl;
}

a {
   text-decoration: none;
}

p {
   margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

.selected-answer {
   background-color: $success;
}

#header {
   background-color: $primary;
   .header-title {
      a {
         color: #fff !important;
         h2 {
            font-family: 'Iransans';
         }
      }
   }
}

// Index Page
#polls {
   max-width: 800px;
   .poll-item {
      position: relative;
      background-color: #fff;
      border-radius: 7px;
      transition: all 0.3s ease;

      &:hover {
         box-shadow: 3px 5px 10px rgba(175, 175, 175, 0.432);
         cursor: pointer;
      }

      .poll-number {
         position: absolute;
         top: 12px;
         right: -25px;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background: $primary;
         color: #fff;
      }

      .poll-title {
         margin-right: 2.5rem;
         color: #333 !important;
      }

      .poll-comments {
         font-size: 0.8rem;
         color: #000;
      }
   }
}

// Question Page
.question {
   &-header {
      max-width: 1000px;
      .question-number {
         height: 70px;
         width: 70px;
         background: #fff;
         border: 2px dotted $primary;
         color: $default;
         border-radius: 50%;

         p {
            font-size: 1.5rem;
         }
      }
   }

   &-title {
      color: $default;
   }

   &-date {
      font-size: 0.7rem;
      color: $default;
   }

   &-divider {
      max-width: 1000px;
      height: 1px;
      width: 100%;
      background: $primary;
      margin: 0.5rem auto;
   }

   &-answers {
      max-width: 800px;
      .answer-container {
         position: relative;
         border: 1px solid $primary;
         border-radius: 12px;
         transition: all 0.3s ease;

         &:hover {
            box-shadow: 2px 4px 20px rgba(175, 175, 175, 0.432);
            cursor: pointer;
         }

         .answer-number {
            position: absolute;
            top: 12px;
            right: -25px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $primary;
            color: #fff;
         }

         .answer-title {
            margin-right: 1rem;
            color: #333 !important;
         }

         .submit-answer {
            .submit-buttons {
               .btn:focus {
                  box-shadow: none !important;
               }
               .submit-btn {
                  border-radius: 20px !important;
               }
            }
         }
      }
   }
}

#footer {
   background: $primary;
   .footer-wrapper {
      color: #fff;

      .footer-socials {
         ul {
            list-style: none;
            li {
               float: left;
               a {
                  color: #fff;
                  transition: all 0.3s ease;

                  &:hover {
                     color: rgb(28, 6, 150);
                  }
               }
            }
         }
      }
   }
}
